/****** EN-TETE ******/
.header-symbols {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header-symbols button {
	background: #caebcd;
	padding: 1vh;
	border: 1px solid palegreen;
	border-radius: 0.5em;

	color: forestgreen;
	font-size: 2.5vh;
	cursor: pointer;
	margin-right: 10vh;
}

.header-symbols button:hover {
	border: 1px solid forestgreen;
	color: #3A9D23;
}

.add-icon {
	padding: 1vh;
	/* font-size: 3vh; */
}

/****** MODAL ******/
.modal {
	display: none;
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/* overflow: auto; */
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	/* margin: 5% auto; */
	padding: 20px;
	border: 1px solid #888;
	width: 60%;
	text-align: center;

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal-content form {
	display: flex;
	flex-direction: column;
}

.modal-content form label:first-of-type {
	font-weight: bold;
}

.modal-content form label {
	padding-top: 0.5vh;
}

.modal-content form input {
	width: 30%;
	margin: 5px auto;
	padding: 1.5vh;
	border-radius: 0.5vh;
}

.modal-content form input[name="category"] {
	font-weight: bold;
}

.modal-content form button {
	margin: 2vh auto;
	width: fit-content;
	align-self: center;
}

/****** Styles pour le tableau des catégories ******/
.table-categories {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
	border-radius: 5em;
}

thead th {
	position: sticky;
	top: 0;
	z-index: 5;
}

.table-categories th,
.table-categories td {
	padding: 10px;
	text-align: center;
	border: 1px solid #ccc;
}

.table-categories th:not(:first-child, :last-child) {
	background-color: slategray;
	color: #fff;
	font-style: italic;
}

.table-categories th:first-child,
.table-categories th:last-child {
	background-color: #333;
	color: #fff;
	font-weight: bold;
}

.table-categories tr:nth-child(even) {
	background-color: #f2f2f2;
}

.table-categories tr:hover {
	background-color: lightgray;
	/* cursor: pointer; */
}

.btn-delete {
	background-color: #cc0000;
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: 3px;
	cursor: pointer;
}

.btn-delete:hover {
	background-color: #a70000;
}

.editable {
	background-color: #f5f5f5;
	cursor: pointer;
	position: relative;
}

.editable:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
	border: 2px solid #007bff;
	opacity: 0;
	transition: opacity 0.2s;
}

.editable:hover:after,
.editable:focus:after {
	opacity: 1;
}

/****** Tableau Draggable ******/
.category-order-bar {
	background-color: #f2f2f2;
	padding: 10px;
	cursor: pointer;
	margin-bottom: 2vh;

	border-radius: 1vh;
}

.category-order-title {
	padding: 10px;
	background-color: #ddd;
	border: 3px solid #999;
	border-bottom: none;
	box-shadow: 0 4px 0 #999;
	cursor: pointer;
	text-align: center;
	transition: all 0.2s ease-in-out;

	border-radius: 0.5vh;
}

.category-order-title:hover {
	background-color: #ccc;
}

.category-order-title.open {
	border-bottom: 3px solid #999;
	border-top: none;
	box-shadow: 0 -2px 0 #999;
}

.category-order-list {
	display: none;

	margin-top: 3vh;
	margin-bottom: 2vh;
}

.category-order-item:hover {
	background-color: #cce2f3;
	border: 2px solid gold;
}

.grid {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	gap: 10px;
}

.category-order-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border: 2px solid #ccc;
	border-radius: 0.5vh;
	padding: 10px;
	cursor: move;
	text-align: center;
	height: 8vh;
}

.order-number {
	color: orangered;
	font-weight: bold;
}

.category-order-arrow {
	width: 0;
	height: 0;
	margin: 10px auto;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #999;

	transition: transform 0.5s;
	transform: rotate(0deg);
}

.category-order-bar.open .category-order-arrow {
	transform: rotate(180deg);
}