/*********** PAGE GESTION DES KEYWORDS ***********/

/****** EN-TETE ******/
.header-symbols {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header-symbols button {
	background: #caebcd;
	padding: 1vh;
	border: 1px solid palegreen;
	border-radius: 0.5em;

	color: forestgreen;
	font-size: 2.5vh;
	cursor: pointer;
	margin-right: 10vh;
}

.header-symbols button:hover {
	border: 1px solid forestgreen;
	color: #3A9D23;
}

.add-icon {
	padding: 1vh;
	/* font-size: 3vh; */
}
/****** MODAL ******/
.modal {
	display: none;
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/* overflow: auto; */
	background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
	background-color: #fefefe;
	/* margin: 5% auto; */
	padding: 20px;
	border: 1px solid #888;
	width: 60%;
	text-align: center;

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  .modal-content form {
	display: flex;
	flex-direction: column;
  }
  
  .modal-content form label:first-of-type {
	font-weight: bold;
  }
  
  .modal-content form label {
	padding-top: 0.5vh;
  }

  .modal-content form input {
	width: 30%; 
	margin: 5px auto; 
	padding: 1.5vh;
	border-radius: 0.5vh;
  }
  
  .modal-content form input[name="keyword"] {
	font-weight: bold; 
  }
  
  .modal-content form button {
	margin: 2vh auto;
	width: fit-content;
	align-self: center;
  }  

/****** Styles pour le tableau des mots-clés ******/
.table-keywords {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
	border-radius: 5em;
}

thead th {
    position: sticky;
    top: 0;
    z-index: 5;
}

.table-keywords th,
.table-keywords td {
	padding: 10px;
	text-align: center;
	border: 1px solid #ccc;
}

.table-keywords th:not(:first-child, :last-child) {
	background-color: slategray;
	color: #fff;
	font-style: italic;
}

.table-keywords th:first-child,
.table-keywords th:last-child {
	background-color: #333;
	color: #fff;
	font-weight: bold;
}

.table-keywords tr:nth-child(even) {
	background-color: #f2f2f2;
}

.table-keywords tr:hover {
	background-color: lightgray;
	/* cursor: pointer; */
}

.btn-delete {
	background-color: #cc0000;
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: 3px;
	cursor: pointer;
}

.btn-delete:hover {
	background-color: #a70000;
}
